@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-box">
    <h2>Add Brand</h2>

    <form method="post">

        <input name="name" class="form-control" placeholder="Brand Name" required />
        <input name="contact" class="form-control" placeholder="Contact" required />

        <button class="btn">Add Brand</button>

    </form>
</div>