@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-box">
    <h2>Add Service</h2>

    <form method="post">

        <input name="name" class="form-control" placeholder="Service Name" required />
        <input name="price" class="form-control" placeholder="Price" required />
        <input name="time" class="form-control" placeholder="Time (minutes)" required />

        <button class="btn">Add Service</button>

    </form>
</div>