@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-box">
    <h2>Add Staff</h2>

    <form method="post">

        <input name="name" class="form-control" placeholder="Name" required />
        <input name="phone" class="form-control" placeholder="Phone" required />
        <input name="email" class="form-control" placeholder="Email" required />
        <input name="address" class="form-control" placeholder="Address" required />
        <input name="salary" class="form-control" placeholder="Salary" required />
        <input name="speciality" class="form-control" placeholder="Speciality" required />

        <button class="btn">Add Staff</button>

    </form>
</div>